<script src="~/js/announcement.js"></script>
<link href="~/css/announcement.css" rel="stylesheet" />
<div class="announcement" onclick="toggleContent('content1')">
    公告 1
    <span class="arrow">▼</span>
</div>
<div id="content1" class="content">
    這是公告 1 的內容。這裡可以顯示詳細的公告訊息。
</div>

<div class="announcement" onclick="toggleContent('content2')">
    公告 2
    <span class="arrow">▼</span>
</div>
<div id="content2" class="content">
    這是公告 2 的內容。這裡可以顯示詳細的公告訊息。
</div>

<div class="announcement" onclick="toggleContent('content3')">
    公告 3
    <span class="arrow">▼</span>
</div>
<div id="content3" class="content">
    這是公告 3 的內容。這裡可以顯示詳細的公告訊息。
</div>