/* 標題樣式 */
.announcement {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 箭頭樣式 */
.arrow {
    font-size: 12px;
    transform: rotate(0deg);
    transition: transform 0.3s;
}

/* 當內容顯示時，箭頭旋轉 */
.announcement.active .arrow {
    transform: rotate(180deg);
}

/* 公告內容樣式 */
.content {
    padding: 10px;
    display: none;
    border: 1px solid #ccc;
    border-top: none;
    background-color: #f1f1f1;
}

    /* 顯示公告內容 */
    .content.active {
        display: block;
    }
