<link href="~/css/ProblemReport.css" rel="stylesheet" asp-append-version="true" />
<script src="~/js/ProblemReport.js" asp-append-version="true" defer></script>

<div id="select">
    <form class="row g-3 mt-2 pb-4 px-3">
        <div class="col-md-4">
            <label for="Compiled" class="form-label">統一編號</label>
            <input type="text" class="form-control" id="Compiled" placeholder="請輸入">
        </div>
        <div class="col-md-4">
            <label for="Machine" class="form-label">手機型號</label>
            <select id="Machine" class="form-select">
                <option value="" disabled selected>請選擇</option>
                <option value="iPhone13">iPhone 13</option>
                <option value="iPhone14">iPhone 14</option>
                <option value="SamsungS21">Samsung Galaxy S21</option>
                <option value="SamsungS22">Samsung Galaxy S22</option>
                <option value="Pixel6">Google Pixel 6</option>
                <option value="Pixel7">Google Pixel 7</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="daterange" class="form-label">查詢起訖時間</label>
            <input type="text" id="daterange" name="daterange" class="form-control" placeholder="請選擇" />
        </div>
        <div class="col-md-4">
            <label for="AppCategory" class="form-label">App類別</label>
            <select id="AppCategory" class="form-select">
                <option value="" disabled selected>請選擇</option>
                <option value="Action">行動SafeGo</option>
                <option value="Take">隨身SafeGo</option>
            </select>
        </div>
        <div class="col-md-4">
            <label for="OS" class="form-label">作業系統</label>
            <select id="OS" class="form-select">
                <option value="" disabled selected>請選擇</option>
                <option value="Android">Android</option>
                <option value="ios">ios</option>
            </select>
        </div>
        <div class="col-md-4 d-flex justify-content-end align-items-end">
            <button type="reset" class="btn btn-outline-info me-2">重置</button>
            <button type="button" class="btn btn-dark">查詢</button>
        </div>
    </form>
</div>

<div id="ProblemReport" class="mt-3 pt-3 px-4">
    <table class="table">
        <thead>
            <tr>
                <th>上傳時間</th>
                <th>完成時間</th>
                <th>統一編號</th>
                <th>檔案總數</th>
                <th>已上傳檔案數量</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2023-10-17<br>14:14:14</td>
                <td>2023-10-17<br>14:14:14</td>
                <td></td>
                <td>7</td>
                <td>7</td>
                <td>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#staticBackdrop">明細</button>
                    <button type="button" class="btn btn-primary">下載</button>
                </td>
            </tr>
            <tr>
                <td>2023-10-17<br>14:14:14</td>
                <td>2023-10-17<br>14:14:14</td>
                <td></td>
                <td>7</td>
                <td>7</td>
                <td class="text-center">
                    <button type="button" class="btn btn-danger">明細</button>
                    <button type="button" class="btn btn-primary">下載</button>
                </td>
            </tr>
            <tr>
                <td>2023-10-17<br>14:14:14</td>
                <td>2023-10-17<br>14:14:14</td>
                <td></td>
                <td>7</td>
                <td>7</td>
                <td>
                    <button type="button" class="btn btn-danger">明細</button>
                    <button type="button" class="btn btn-primary">下載</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                @* <h5 class="modal-title" id="staticBackdropLabel">Static Backdrop Modal</h5> *@
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                新增前置系統別<br>即將送出資料，是否確定?
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="flex-basis: 225px;">取消</button>
                <button type="button" class="btn btn-primary" style="flex-basis: 225px;" onclick="confirmAndNext()">確定</button>
            </div>
        </div>
    </div>
</div>