form {
    background-color: white;
    border-radius: 8px;
}
b{
    text-align:center;
}

label,li{
    font-weight:bolder;
}

.radio-options {
    display: flex;
    align-items: center;
}

#title {
    background-color: #bcbcbc;
    border-radius: 8px 0 0 8px;
    font-weight: bolder;
}

.permission-section {
    display: flex;
    align-items: center;
}

.permission-list {
    border-right: none;
    background-color: #e3e3e3;
}

    .permission-list ul {
        margin-bottom: 0;
    }

.permission-settings {
    display: flex;
    align-items: center;
    border-radius: 0 8px 8px 0;
    background-color:#e3e3e3;
}

.form-check {
    margin-right:0;
    text-align:right;
}

.form-check-input {
    margin-right: 5px;
}
.form-check-label {
    margin-right: 10px; /* 控制 label 與下一個 radio 的間距 */
}

#back,#create {
    width: 100%;
}